*{
	width: 100%;
	height: 100%;
	margin: auto;
}
body
{
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
#header
{
	grid-area:header;
	background-color: #e3e3e3;
}
#footer
{
	grid-area:footer;	
	background-color: #e3e3e3;
}
#left
{
	grid-area:left;
	background-color: red;
}
#middle
{
	grid-area:middle;
	background-color: white;
}
#right
{
	grid-area:right;
	background-color: green;
}
.iGrid
{
	display: grid;
	padding: 10px;
	grid-template-areas:
						'header header header header header'
						'left middle middle middle right'
						'left middle middle middle right'
						'left middle middle middle right'
						'footer footer footer footer footer';

}